# JQwik
.jqwik-database

# Local profiles properties and yml files
application-*.yml
application-*.properties
local.*json
*.local.*json

# Maven
target/

# IntelliJ project files
*.iml
*.iws
*.ipr
.idea/

# eclipse project file
.settings/
.classpath
.project

# NetBeans specific
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
.history/

# OS
.DS_Store

# Misc
*.swp
logs/
release.properties
pom.xml.releaseBackup
pom.xml.tag
TODO
settings.json
.vscode/
